<button mat-raised-button (click)="makepdf()">
  <mat-icon aria-hidden="false"
      style="background-color: #17a2b8; border-color: #17a2b8; color:white;">
      download</mat-icon>
</button>
<div class="tables" >
  <div class="particulars" id="pdfTable" #pdfTable>
    <p >PARTICULARS</p>
    <ul >
      <li>
        <div>First Name</div>
        <div>SURAJ</div>
      </li>
      <li>
        <div>Middle Name</div>
        <div>KUMAR</div>
      </li>
      <li>
        <div>Last Name</div>
        <div>PANDIT</div>
      </li>
      <li>
        <div>DOB</div>
        <div>07-12-1997</div>
      </li>
      <li>
        <div>Gender</div>
        <div>Male</div>
      </li>
      <li>
        <div>Father's Name</div>
        <div>DEVENDRA PANDIT</div>
      </li>
      <li>
        <div>Address</div>
        <div>BHULI BASTI KUMHAR TOLA DHANBAD</div>
      </li>
    </ul>

  </div>
