.particulars p {
  font-weight: 600;
  background-color: #3367d6;
  margin: 0;
  padding: 10px 5px;
  color: #fff;
}

.particulars ul {
  display: table;
  width: 100%;
}

.particulars li {
  vertical-align: top;
  border: 1px solid #000;
  width: calc(100%/7);
  height: 100%;
  text-align: center;
  font-weight: 500;
  display: table-cell;
}

.particulars li div {
  margin-left: -1px;
}

.particulars li div:first-child {
  background: #b3b3b3;
  padding: 10px 0;
}

.particulars li div:nth-child(2) {
  margin-top: 10px;
}

.titles{
  font-weight: 600;
  padding: 18px 0;
  display: flex;
}
